.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;

    margin: 100px 50px;
}

.cart-container {
    background: #FF99004D;
}

@media screen and (max-width: 1100px) {
    .shop-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}